<div class="container-fluid margin-top-25vh">
  <div class="container">
    <div class="row">
    <div class="col-12 col-sm-6 offset-sm-3 col-md-6 offset-md-3 col-lg-4 offset-lg-4 col-xl-4 offset-xl-4">
      <form (ngSubmit)="saveTodoItem()" [formGroup]="TodoForm" #formtodo>
        
        <div class="form-group">
          <label for="title">Todo title</label>
          <input type="text" placeholder="Todo title" class="form-control" id="title" name="title" formControlName="title" />
        </div>

        <div class="form-group">
          <label for="description">Todo description</label>
          <textarea rows="4" placeholder="Todo description" class="form-control" id="description" name="description" formControlName="description"></textarea>
        </div>

        <div class="form-group">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="complete" name="complete" formControlName="complete" [checked]="currentTodo.complete" />
            <label class="custom-control-label" for="complete">Completed</label>
          </div>
        </div>

        <button type="submit" class="btn btn-success col-5" [disabled]="TodoForm.invalid">Save</button>
        <button type="submit" class="btn btn-danger col-5 offset-2" (click)="cancel()">cancel</button>

      </form>
    </div>
    </div>
  </div>  
</div>

