<div class="container-fluid margin-top-25vh">
  <div class="container">
    <div class="row">
    <div class="col-12 col-sm-6 offset-sm-3 col-md-6 offset-md-3 col-lg-4 offset-lg-4 col-xl-4 offset-xl-4">
      <form (ngSubmit)="login()" [formGroup]="LoginForm" #formlogin>
        <div class="form-group">
          <label for="userName">User Name</label>
          <input type="text" placeholder="User Name" class="form-control" id="userName" name="userName" formControlName="userName" />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" placeholder="Password" class="form-control" id="password" name="password"  formControlName="password" />
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="LoginForm.invalid">Login</button>
      </form>
      <p *ngIf="loginErorr" class="text-danger text-justify margin-top-5vh margin-bottom-5vh">
        Username or password are invalid, kindly try again.
      </p>
    </div>
    </div>
  </div>  
</div>
