<div class="container-fluid margin-top-10vh margin-bottom-5vh">
  <div class="container">
    <div class="row">
      <button class="btn btn-success margin-bottom-5vh" (click)="createUpdateItem()" *ngIf="checkUserCanCreate()">Create TODO</button>
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr class="table-success">
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Completed</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of todosList; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{item.title}}</td>
            <td>{{item.description}}</td>
            <td>
              <input type="checkbox" [checked]="item.complete" [disabled]="true" />
            </td>
            <td>
              <button type="button" class="btn btn-primary margin-right-1vw" title="Edit Todo" (click)="createUpdateItem(i)" *ngIf="checkUserCanEdit(item)">
                <img src="../../../assets/icons/edit-icon.svg" class="icon-img" />
              </button>
              <button type="button" class="btn btn-danger" title="Delete Todo" *ngIf="checkUserCanDelete(item)" (click)="deleteItem(i)">
                <img src="../../../assets/icons/delete-icon.svg" class="icon-img" />
              </button>
              <button type="button btn btn-info disabled" [disabled]="true" title="No Actions Available" *ngIf="!checkUserCanEdit(item) && !checkUserCanDelete(item)">No Actions Available</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>