.margin-top-25vh{
    margin-top: 25vh;
}
.margin-top-10vh{
    margin-top: 10vh;
}
.margin-top-5vh{
    margin-top: 5vh;
}
.margin-right-1vw{
    margin-right: 1vw;
}
.margin-bottom-5vh{
    margin-bottom: 5vh;
}